<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thermostat Remote Controller</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container mb-5">
        <h1 class="fw-bold text-uppercase">Thermostat Dashboard</h1>
        <hr class="bg-dark">

        <div class="d-block d-lg-flex justify-content-between">
            <div class="m-5 text-center w-auto">
                <div class="row">
                    <canvas id="temperatureChart" class="chart-box"></canvas>
                </div>
                <div class="row">
                    <h1 class="fw-bold text-uppercase" id="temperatureDisplay">-- °C</h1>
                </div>
                <div class="row">
                    <div class="fw-bold text-uppercase h6">Temperature</div>
                </div>
            </div>
            <div class="m-5">
                <div class="timer text-center">
                    <div class="fw-bold text-uppercase h6">THERMOSTAT WILL RUN</div>
                    <div class="h3 fw-bold" id="runningTimeDisplay">--:--</div>
                    <hr class="bg-light">
                    <div class="fw-bold text-uppercase h6">TARGET TEMPERATURE</div>
                    <div class="h3 fw-bold" id="targetTemperature">-- °C</div>
                </div>
            </div>
            <div class="m-5 text-center w-auto">
                <div class="row">
                    <canvas id="humidityChart" class="chart-box"></canvas>
                </div>
                <div class="row">
                    <h1 class="fw-bold text-uppercase" id="humidityDisplay">-- %</h1>
                </div>
                <div class="row">
                    <div class="fw-bold text-uppercase h6">Humidity</div>
                </div>
            </div>
        </div>
        <hr class="bg-light">
        <div class="d-block d-lg-flex justify-content-center">
            <div class="col">
                <div class="row px-5">
                    <button class="btn btn-lg btn-primary text-uppercase fw-bolder p-4"
                        onclick="sendButtonUpdate('increase-target-temp')">increase target temperature</button>
                </div>
                <div class="row px-5">
                    <button class="btn btn-lg btn-primary text-uppercase fw-bolder p-4 mt-3"
                        onclick="sendButtonUpdate('decrease-target-temp')">decrease target temperature</button>
                </div>
            </div>
            <div class="col mt-5 mt-lg-0">
                <div class="row px-5">
                    <button class="btn btn-lg btn-primary text-uppercase fw-bolder p-4"
                        onclick="sendButtonUpdate('increase-running-time')">increase running time</button>
                </div>
                <div class="row px-5">
                    <button class="btn btn-lg btn-primary text-uppercase fw-bolder p-4 mt-3"
                        onclick="sendButtonUpdate('decrease-running-time')">decrease running time</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>